@using Fire.Business.Encryption
@model AllLayoutViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Müşteriler</h4>
                        <input type="text" class="form-control" id="txtsearch" placeholder="Müşteri">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>İsim</th>
                                        <th>Soyad</th>
                                        <th>Telefon</th>
                                        <th></th>

                                    </tr>
                                    @foreach (var customer in ViewBag.results)
                                    {
                                        <tr class="Search">
                                            <td>@customer.Name</td>
                                            <td>@customer.Surname</td>
                                            <td>@customer.PhoneNumber</td>
                                            <td style="text-align:right">
                                                <a href="/Customer/GetBeforeFisWithCustomerid/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn btn-inverse-success btn-fw btn-sm" title="Fişler">Fişler</a>
                                                <a href="/ProductType/Add/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn btn-inverse-info btn-fw btn-sm" title="Fişler">Yeni Fiş</a>
                                                <a href="/Customer/Update/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn btn-inverse-warning btn-fw btn-sm" title="Edit">Güncelle</a>
                                                <a href="/Check/Add/@CommondMethod.ConvertToEncrypt(@customer.id.ToString()+","+"true")" name="id" class="btn btn-inverse-primary btn-fw btn-sm" title="Çek">Yeni Çek</a>
                                                <a href="/Check/CheckGive/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn btn-inverse-danger btn-fw btn-sm" title="Çek">Çek Ver</a>
                                                <a href="/Check/CheckOfCustomer/@CommondMethod.ConvertToEncrypt(@customer.id.ToString())" name="id" class="btn btn-inverse-secondary btn-fw btn-sm" title="Çek">Çekler</a>
                                            </td>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Tüm Haklar Saklıdır. © 2023</span>
            <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">  <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span> -->
        </div>
    </footer>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    $(document).ready(function() {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#txtsearch").keyup(function() {
            var searchtext = $("#txtsearch").val().toLowerCase();
            $(".Search").each(function() {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        })
    })

</script>





